body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    border-bottom: darkslategray solid 2px;
    z-index: 1;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

#navbar li {
    list-style: none;
    padding: 5px;
}

#navbar .fa {
    text-decoration: none;
    background-color: darkslategray;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 2vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15vw;
    height: 125vw;
    opacity: 0.9;
    color: white;
    text-shadow: 1vw 1vw 1vw darkslategray;
}

header div {
    padding: 3vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

#navs-cta ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
}

#navs-cta a {
    background-color: darkslategray;
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
    padding: 3vw;
    border-radius: 5vw;
    opacity: 1;
}

h1 {
    font-size: 10vw;
    line-height: auto;
    text-align: center;
}

#about-me div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vw 10vw;
}

#adamImg {
    display: block;
    max-width: 50vw;
    max-height: 50vw;
    width: auto;
    height: auto;
    border-radius: 50%;
}

h2 {
    text-align: center;
    background-color: none;
    padding: 5vw 0 0;
}

#about-me p {
    text-align: justify;
}

#portfolios {
    background-color: lightgray;
    padding: 20vw 0;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 10vw 5vw;
}

#tiles article {
    min-width: 75vw;
    margin: 5vw;
}

#tiles article:hover {
    transition: 2s;
    opacity: 40%;
    display: block;
}

.case-study {
    background-color: gray;
    width: 50vw;
    height: 70vw;
    border-radius: 10px;
}

#one {
    background-color: lightblue;
}

#two {
    background-color: lightpink;
}

#three {
    background-color: lightgoldenrodyellow;
}

#four {
    background-color: lightsteelblue;
}

footer {
    background-color: gray;
    margin-bottom: -1vw;
    padding: 5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
}

footer li {
    padding: 5px 20px;
    font-weight: bold;
}

@media (min-width: 769px) {
    nav {
        height: 5vw;
        background-color: white;
    }

    #navbar a {
        font-size: 2vw;
        padding: 0.5vw;
        margin: 2vw;
    }

    header {
        height: 50vw;
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    header div {
        display: flex;
        flex-direction: column;
        width: 60vw;

    }

    header h1 {
        font-size: 7.5vw;
        position: relative;
    }

    #navs-cta {
        font-size: 1.5vw;
        margin-left: -4vw;
    }

    #navs-cta a {
        padding: 1.5vw;
    }

    #downArrow {
        background-color: none;
        margin-bottom: 0;
    }

    #about-me {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-me div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        margin: 5vw 0;
        padding: 0;
    }

    #about-me img {
        max-width: 20vw;
        min-width: 20vw;
        margin: 2.5vw;
        padding: 0;
    }

    h2 {
        font-size: 3vw;
        padding: 0;
    }

    #about-me p {
        font-size: 1.5vw;
        padding: 0;
    }

    #porfolios {
        background-color: beige;
        padding: 0 0;
    }


    #portfolios h2 {
        margin: -15vw 0 -15vw;
        padding: 5vw;
    }

    #portfolios article {
        min-width: 30vw;
    }

    .case-study {
        width: 1vw;
        height: 1vw;
        padding: 2vw;
        margin: 1vw;
    }

    footer {
        padding: 0;
    }

}