body {
    font-family:'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    border-bottom: dimgray solid 2px;
    z-index: 1;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

#logoImg {
    width: 30%;
    padding: 0 20px
}

#navbar li {
    list-style: none;
    padding: 5px;
}

#navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    /* background-image: url('#');
    background-repeat: no-repeat;
    background-size: cover; */
    margin-top: 10vw;
    height: 100vw;
    /* opacity: 0.8 */
}

h1 {
    font-size: 10vw;
    line-height: auto;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 10vw
}

#buttons button {
    padding: 10px;
}

#about-me {
    background-color: lightgray;
}

#about-me div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%
}

#adamImg {
    width: 20%;
    border-radius: 50%;
}

h2 {
    text-align: center;
    background-color: none;
}

#about-me p {
    text-align: justify;
}

#portfolios h2 {
    margin: top 15vw;
}

#tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 15vw 5vw;
}

#tiles article {
    width: 80%;
    margin: 5%;
}

#tiles article:hover {
    transition: 2s;
    opacity: 40%;
    display: block;
}

.case-study {
    background-color: gray;
    width: 50vw;
    height: 70vw;
    border-radius: 10px;
}

#one {
    /* background: url('#');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: lightblue;
}

#two {
    background-color: lightpink;
}

#three {
    background-color: lightgoldenrodyellow;
}

#four {
    background-color: lightsteelblue;
}

footer {
    background-color: gray;
    margin: 10px 0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
    /* display: flex;
    justify-content: center; */
}

footer li {
    padding: 5px 20px;
    font-weight: bold;
}
