body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    color: white;
}

nav {
    background-color: #A6AFAD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2vw;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 1;
}

nav #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    width: 12vw;
    color: #2A4C64;
    padding: 2vw;
}
  
nav a:hover {
    background-color: #A1D8CF;
}

nav #links {
    display: none;
}
  
nav a {
    color: white;
    padding: 3vw 5vw;
    text-decoration: none;
    font-size: 5vw;
    display: block;
}

#social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    margin-left: -9vw;
}

#social-links .fa {
    text-decoration: none;
    background-color: #A1D8CF;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 5vw;
    border-radius: 50%;
    padding: 2.5vw;
    margin: 0 1vw;
}

#social-links .fa:hover {
    background: linear-gradient(220deg, #EFAAAC 5%, #2A4C64  85%);
}

header {
    background: linear-gradient(180deg, #A1D8CF 0%, #2A4C64 100%);
    margin-top: 14vw;
    height: 160vw;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    height: inherit;
}

#headerDiv h1 {
    font-size: 7.5vw;
    color: white;
    text-align: center;
    margin-top: 50vw;
    width: inherit;
}

#navs-cta {
    width: inherit;
}

#headerDiv ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    padding: 1vw;
    margin-bottom: 30vw;
}

.button {
    background: linear-gradient(212.11deg, #A1D8CF 25.56%, #2A4C64 155.81%);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: white;
    font-size: 4vw;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1vw;
    margin: 0 3vw;
    white-space: nowrap;
    text-align: center;
}

.button:hover {
    background: linear-gradient(212.11deg, #EFAAAC 25.56%, #2A4C64 155.81%);
}

#about-me {
    background-color: #EFAAAC;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 10vw 0 10vw 10vw rgba(0, 0, 0, 0.25), inset 0 -1vw 0 1vw -1vw rgba(0, 0, 0, 0.25);
}

#about-me div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vw 10vw;
    width: 80vw;
}

#adamImg {
    border-radius: 50%;
    max-width: 40vw;
    max-height: 40vw;
    width: auto;
    height: auto;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
}

#about-me p {
    text-align: justify;
    padding: 15vw 0 0;
}

#portfolios {
    background-color: #2A4C64;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#tiles {
    margin-top: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    margin-bottom: 10vw;
}

.case-study {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20vw 0;
    border-bottom: 1vw solid white;
}

.projectImg {
    width: 60vw;
    padding: 0 0 10vw;
}

.case-study h3 {
    color: white;
    font-size: 7.5vw;
    padding: 0 0 10vw;
}

.btn2 {
    font-size: 5vw;
    padding: 2.5vw 5vw;
}

#four {
    border-bottom: none;
}

footer {
    background-color: #EFAAAC;
    color: #2A4C64;
}

footer div {
    width: 80vw;
    padding: 5vw;
    margin: auto;
    text-align: center;
}

footer h2 {
    margin: 0;
}

footer p {
    margin: 2vw 0;
}

footer #social-links {
    width: inherit;
}

footer h4 {
    margin: 0;
}


@media (min-width: 769px) {

    nav .menu {
        width: 5vw;
    }

    #social-links .fa {
        box-shadow: 0.25vw 0.25vw 0.25vw rgba(0, 0, 0, 0.25);
        font-size: 2vw;
        padding: 1vw;
    }

    nav a {
        padding: 1vw 2vw;
        font-size: 2.5vw;
    }

    header {
        height: 50vw;
        margin-top: 4vw;
    }

    #headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
    }

    #headerDiv h1 {
        font-size: 3vw;
        margin: 10vw 0;
    }

    #navs-cta ul {
        font-size: 1.5vw;
        padding: 3vw 0;
        margin-bottom: 5vw;
    }

    .button {
        font-size: 1.5vw;
        padding: 1vw 5vw;
    }

    #about-me {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-me div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        margin: 5vw 0;
        padding: 0;
    }

    #about-me img {
        max-width: 20vw;
        min-width: 20vw;
        margin: 2.5vw;
        padding: 0;
    }

    h2 {
        font-size: 3vw;
        padding: 0;
    }

    #about-me p {
        font-size: 1.5vw;
        padding: 0;
    }

    #tiles {
        width: inherit;
        margin: 5vw 2vw;
    }

    .case-study {
        padding: 5vw; 
        width: 35vw;
        border-bottom: none;
    }

    .projectImg {
        width: 30vw;
        padding: 0;
    }

    .case-study h3 {
        font-size: 3vw;
        padding: 0;
    }

    #two {
        border-left: 0.1vw solid white;
        margin-bottom: -0.2vw;
    }
    
    #three {
        border-top: 0.1vw solid white;
        border-right: 0.1vw solid white;
        margin-top: -0.5vw;
    }

    #four {
        border-top: 0.1vw solid white;
    }

}