@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
    font-family: 'Raleway';
    margin: 0;
}

nav {
    background-color: #A6AFAD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2vw;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 1;
}

nav #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    width: 12vw;
    color: #2A4C64;
    padding: 2vw;
}
  
nav a:hover {
    background-color: #A1D8CF;
}

nav #links {
    display: none;
}
  
nav a {
    color: white;
    padding: 3vw 5vw;
    text-decoration: none;
    font-size: 5vw;
    display: block;
}

#social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    margin-left: -9vw;
}

#social-links .fa {
    text-decoration: none;
    background-color: #A1D8CF;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 5vw;
    border-radius: 50%;
    padding: 2.5vw;
    margin: 0 1vw;
}

#social-links .fa:hover {
    background: linear-gradient(220deg, #EFAAAC 5%, #2A4C64  85%);
}


header img {
    display: block;
    width: 100vw;
    margin-top: 18vw;
}

section {
    padding: 24px 0;
}

h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    padding: 30px 0 0;
    font-weight: bold;
}

h2 {
    color: #EFAAAC;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin: 24px 0 0;
    font-weight: bolder
}

h3 {
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

p {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
}

.main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.blue-bg {
    background-color: #2A4C64;
    color: white;
}

.gray-bg {
    background-color: #A6AFAD;
    color: white;
}

.gray-bg h1 {
    color: #2A4C64;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.article {
    width: 80vw;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.phoneImg {
    width: 35vw;
    padding: 20px 10px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    width: 25vw;
    padding: 12px 40px;
    text-transform: uppercase;
    background: linear-gradient(212.11deg, #A1D8CF 25.56%, #2A4C64 155.81%);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.button:hover {
    background: linear-gradient(212.11deg, #EFAAAC 25.56%, #2A4C64 155.81%);
}

#sec1 .button {
    margin: 5vw 0;
}

#details article {
    padding: 0 1.5vw;
    margin: 0 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#details h3 {
    font-size: 3vw;
}

#details p {
    font-size: 3vw;
}

#whitespaceImg {
    border-radius: 0 0 40px 40px;
}

#row-rev {
    flex-direction: row-reverse;
}

footer {
    background-color: #EFAAAC;
    color: #2A4C64;
    box-shadow: inset 0vw 1vw 1vw rgba(0, 0, 0, 0.25);
}

footer div {
    width: 80vw;
    padding: 5vw;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    margin: 0;
    color: #2A4C64;
}

footer p {
    margin: 2vw 0;
}

footer #social-links {
    width: inherit;
}

footer h4 {
    margin: 0;
}

footer #social-links {
    width: 35vw;
    margin-left: 0;
}

@media (min-width: 769px) {

    p {
        font-size: 16px;
    }

    nav {
        box-shadow: 0 0.25vw 0.25vw rgba(0, 0, 0, 0.35);
    }

    nav .menu {
        width: 3vw;
        padding: 0;
    }

    #social-links {
        padding: 0;
    }

    #social-links .fa {
        box-shadow: 0.25vw 0.25vw 0.25vw rgba(0, 0, 0, 0.25);
        font-size: 1.5vw;
        padding: 0.8vw;
        margin: 0 0.5vw;
    }

    #links {
        width: 35vw;
        padding: 1vw 0 2vw;
    }

    nav a {
        padding: 1vw 2vw;
        font-size: 1.5vw;
    }

    .button {
        font-size: 16px;
    }

    .article {
        width: 50vw;
    }

    #details h3 {
        font-size: inherit;
    }

    #details p {
        font-size: inherit;
    }

    header img {
        margin-top: 0;
        height: 50vw;
        object-fit: cover;
    }

    .phoneImg {
        width: 18vw;
        padding: 20px;
    }

    #whitespaceImg {
        border-radius: 0 0 60px 60px;
    }

    .flowchart {
        width: 60vw;
    }

    #sec5 .button {
        margin: 50px 0;
    }

    footer {
        box-shadow: inset 0 0.35vw 0.35vw rgba(0, 0, 0, 0.35);
    }

    footer h2 {
        font-size: 3vw;
    }

    footer p {
        margin: 2vw 0;
        font-size: 1.5vw;
    }

    footer #social-links {
        width: 15vw;
    }

    footer h4 {
        padding: 2vw 0 0;
    }

}