@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
    font-family: 'Raleway';
    margin: 0;
}

header img {
    display: block;
    width: 100vw;
    margin-top: 18vw;
}

section {
    padding: 24px 0;
}

h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    padding: 30px 0 0;
    font-weight: bold;
}

h2 {
    color: #EFAAAC;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin: 24px 0 0;
    font-weight: bolder
}

h3 {
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

p {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
}

.main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.blue-bg {
    background-color: #2A4C64;
    color: white;
}

.gray-bg {
    background-color: #A6AFAD;
    color: white;
}

.gray-bg h1 {
    color: #2A4C64;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.article {
    width: 80vw;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.phoneImg {
    width: 35vw;
    padding: 20px 10px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    width: 25vw;
    padding: 12px 40px;
    text-transform: uppercase;
    background: linear-gradient(212.11deg, #A1D8CF 25.56%, #2A4C64 155.81%);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.button:hover {
    background: linear-gradient(212.11deg, #EFAAAC 25.56%, #2A4C64 155.81%);
}

#sec1 .button {
    margin: 5vw 0;
}

#details article {
    padding: 0 1.5vw;
    margin: 0 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#details h3 {
    font-size: 3vw;
}

#details p {
    font-size: 3vw;
}

#whitespaceImg {
    border-radius: 0 0 40px 40px;
}

#row-rev {
    flex-direction: row-reverse;
}

footer h2 {
    color: #2A4C64;
}

@media (min-width: 769px) {

    p {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
    }

    .article {
        width: 50vw;
    }

    #details h3 {
        font-size: inherit;
    }

    #details p {
        font-size: inherit;
    }

    header img {
        margin-top: 0;
        height: 50vw;
        object-fit: cover;
    }

    .phoneImg {
        width: 18vw;
        padding: 20px;
    }

    #whitespaceImg {
        border-radius: 0 0 60px 60px;
    }

    .flowchart {
        width: 60vw;
    }

    #sec5 .button {
        margin: 50px 0;
    }

}